body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

#About-Section {
  background-image: url("../img/bg-hero_02.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Mis trabajos */

#Trabajos-Colaborativos {
  background-image: url("../img/bg-hero_02.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

#Trabajos-Colaborativos .image-top {
  height: 125px;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  background-color: black;
  display: flex; 
  justify-content: center; 
  align-items: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
